{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Our App</h1>
    <br>

    <h5>Discovering and exploring art can be challenging due to fragmented information and inaccessible resources. 
        Our app provides a centralized platform that simplifies access to famous painting 
        data—offering an intuitive and educational experience to help provide accessibility, education, and inspiration in the art world.
        There are various users who may find our app helpful: </h5>
    <br>
    <p>1. Researchers and historians need a comprehensive database of paintings with detailed metadata to conduct accurate studies, draw connections across art movements, and deepen their understanding of cultural heritage.</p>
    <p>2. Students and educators need an intuitive, user-friendly tool to discover and analyze art pieces so they can enhance learning experiences, deliver compelling lessons, and foster creativity and critical thinking.</p>
    <p>3. Tourists and museum-goers need a way to identify and learn about paintings they encounter to enrich their cultural experiences and make meaningful connections with the art they see.</p>

{% endblock %}