{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About the App</h1>

    <p>Our app will help art enthusiasts, researchers, and students interact with the art world by making it easier to discover and explore famous paintings. By addressing critical user needs, our platform will ensure accessibility, education, and inspiration.
        1. Researchers and historians need a comprehensive database of paintings with detailed metadata to conduct accurate studies, draw connections across art movements, and deepen their understanding of cultural heritage.
        2. Students and educators need an intuitive, user-friendly tool to discover and analyze art pieces so they can enhance learning experiences, deliver compelling lessons, and foster creativity and critical thinking.
        3. Tourists and museum-goers need a way to identify and learn about paintings they encounter to enrich their cultural experiences and make meaningful connections with the art they see.
        </p>

{% endblock %}