{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block styles %}
<style>
    body {
        background-image: url('https://t3.ftcdn.net/jpg/00/55/58/52/360_F_55585258_s6eZmsDKxK132KC6LE3U1BE3HAduZ8lH.jpg'); /* Replace with the path to your image */
        background-size: cover; /* Ensures the image covers the entire page */
        background-position: center; /* Centers the image */
        background-attachment: fixed; /* Keeps the image fixed during scrolling */
        background-repeat: no-repeat; /* Prevents tiling */
    }


</style>
{% endblock %}

{% block content %}
<div class="content">
    <br>
    <h1>Home Page</h1>
    <h2>Start discovering paintings!</h2>
    <br>
    <h5>Welcome to our art discovery platform. Here, you can explore famous paintings, learn about artists, and discover art styles.</h5>
    <br>
    <br>

    <!-- Buttons -->
    <div>
        <!-- Large Buttons with Solid and Outline Styles -->
        <a href="/artist/" class="btn btn-info">Search by Artist</a>
        <a href="/style/" class="btn btn-info">Search by Style</a>
    </div>
</div>
{% endblock %}
